/**
  Store variables here
**/
$mobile-sm-break = 380px
$mobile-break = 580px
$tablet-break = 980px
$site-padding = 20px
$font-family = 'Helvetica Neue', Helvetica, Arial, sans-serif
$bg-size-htc-url = '/backgroundsize.min.htc' 