/**
  Store variables here
**/
$desktop-min = 981px 
$tablet-max = 980px
$tablet-min = 581px
$mobile-max = 580px

$site-padding = 20px
$font-family = 'Helvetica Neue', Helvetica, Arial, sans-serif
$bg-size-htc-url = '/backgroundsize.min.htc' 