global-reset()

.clearfix
  clearfix()

.clear
  clear both
*
  margin 0
  padding 0
  box-sizing border-box
  


html, body
  width 100%
  font 0.813em/1.5em "Whitney SSm A", sans-serif

body
  position relative
  font-size 12px
  
html 
  body 
    a
      -webkit-font-smoothing antialiased
      -moz-font-smoothing antialiased
      -o-font-smoothing antialiased
      -ms-font-smoothing antialiased
      font-smoothing antialiased