/**
 * Component name:
 * `.c-content` - Main container 
 * 
 *
 *     @example
 *     div.c-content
 *      div.bar
 *       h1 Title
 *      div.screen
 */
 
.c-content
  width 100%
  text-align center
  .bar
    padding $site-padding
    min-height 80px
    background-color $dark-grey
    color white
    h1 
      font-size 20px
  .screen
    background-color $profero-yellow
    padding $site-padding
    padding-top $site-padding * 2
    min-height $site-padding  * 7
    h1
      font-size 60px
    h3
      background-color $dark-grey
      padding $site-padding - 10
      color white
      max-width 500px
      margin auto
      margin-top $site-padding
      display block
  .details
    width 70%
    margin auto
  .item
    display inline-block
    vertical-align top
    margin $site-padding
    +tablet()
      width 100%
      margin $site-padding 0
    h1 
      font-size 30px
      margin-bottom $site-padding - 10
    p 
      line-height 20px