.locations
  position relative
  top 0
  +small()
    top 48px
  .first-block
    .items
      width 100%
      padding 30px
      .item
        padding 0 5px
        float left
        background-color #c2c2c2
        margin 0 2px
        line-height 34px
        color white
        cursor pointer
      .item.biologic
        background-color #69c
      .item.clinical
        background-color #d6793c
      .item.development
        background-color #27afac
      .item.modified
        background-color #c14064
      .item.softgel
        background-color #5b3b8e
      .item.sterile
        background-color #b890c2
      .item.disabled
        background-color #c2c2c2
      .viewAll
        float left
        margin 0 20px
        line-height 34px
        color #424242
        cursor pointer
    .items:after
      content ''
      display block
      clear both
      
  .second-block
    .map
      height 433px
  
    .address-list
      width 100%
      
      .address-list-block
        width 25%
        float left
        padding-left 10px
        
        h3
          line-height 38px
          font-size 16px
          color #424242 
          
        p
          a
            line-height 30px
            font-size 14px
            color #424242
            display block
            text-decoration none
            
          .square
            width 10px
            height 10px
            margin-right 3px
            display inline-block
            
          .square.biologic
            background-color #69c
            
          .square.clinical
            background-color #d6793c
          .square.development
            background-color #27afac
          .square.modified
            background-color #c14064
          .square.softgel
            background-color #5b3b8e
          .square.sterile
            background-color #b890c2
          .square.disabled
            background-color #c2c2c2
                  
                    
        
        
        
      
    
    