$is-ie := false

ks-no-conflict = true
@require 'kouto-swiss'

/* Global */
@require 'global/_reset'
@require 'global/_swatch'

/* Mixins */
@require 'mixins/_ie.styl'
@require 'mixins/*.styl'

@require 'global/*.styl'

/* Layout */
@require 'layout/*.styl'

/* Components */
@require 'components/*.styl'

/* Vendor */
@require 'vendor/*.styl'