.navbar
  .kit-content-default
    .top-nav-links-block
      .main-nav-links
        a(href="#" class="sub-link") Subscribe
        .separator
        a(href="#" class="sub-link") Careers
        .separator
        a(href="#" class="sub-link") Locations
        .separator
        a(href="#" class="sub-link") Investors
        .separator
        a(href="#" class="sub-link") Fusion
        .separator

      a(href="#", data-js-language-global).language-global#language-global  Global

      form(action="", method="get").searchForm
        input(type="text", placeholder="Search", name="searchText").searchText
        button(type="submit").searchButton

      #language-div.language-div
        p.lang-title Visit Another Site 
          span.lang-close

        p.language-global#language-global
          a(href="#") Global

        p.regional-sites Our Regional Sites

        ul
          li
            a(href="#").f-l-w-50 China
            a(href="#").f-l-w-50 Korea

          li
            a(href="#") Japan

          li
            a(href="#").f-l-w-33 South America
            a(href="#"  style="text-align:center").f-l-w-33 Spanish
            a(href="#" style="text-align:center").f-l-w-33 Portuguese
    a(href="#").logo
      img(src="assets/img/Page-Head_large.png", width="165", height="66", alt="Catalent", title="Catalent")

    .links-container
      block navbar-top-links
        +topLinksBuilder()



