.navbar-mobile
  form(action="", method="").form
    input(type="text", placeholder="Search", name="SearchText", class="SearchText")        

  .navbar-mobile-container
    .sidebar-display
    a(href="")
      img(src="/assets/img/Page-Head_large.png", alt="Page Head", title="Page Head")
    .sidebar-search