extends base
block navbar-top-links
  +topLinksBuilder(0)

block sidebar-links
  +sidebarLinksBuilder(0)

block main-content
  .development
    .first-block(data-js-devcarousel)
      .top-shadow
      .nav-elems
        .nav-overview.nav-elem.active(index=0) Overview
          img(src="../assets/img/development/top-slide-button.png")
        .nav-overview.nav-elem(index=1) Video
          img(src="../assets/img/development/top-slide-button.png")
        .nav-overview.nav-elem(index=2) Resources
          img(src="../assets/img/development/top-slide-button.png")
      .c-carousel
        .c-carousel__container
          .c-slice.first.l-grid
            .c-slice__right.l-grid__col.l-w--tabt-min-50p
              .kit-middle
                .top-separator
                  img(src="../assets/img/development/top-separator.png")
                img(src="../assets/img/development/Overview.png")
            .c-slice__left.l-grid__col.l-w--tabt-min-50p
              .kit-middle
                .kit-middle-content
                  h1.upper
                    img(src="../assets/img/development/Overview-1.png")
                    | DEVELOPMENT

                  p Get more products to market faster with the world's #1 partner for drug development and formulation services.
                  p 
                    a(href="#", target="_self") OUR DEVELOPMENT SOLUTIONS & SERVICES
          .c-slice.second.l-grid
            .c-slice__right.l-grid__col.l-w--tabt-min-50p.no-bluebg
              .kit-middle
                .top-separator
                  img(src="../assets/img/development/top-separator.png")
                .img-container
                  .play-video-icon
                  img(src="../assets/img/development/Video.png")
            .c-slice__left.l-grid__col.l-w--tabt-min-50p
              .kit-middle
                .kit-middle-content
                  h2 MORE PRODUCTS

                  p Our advanced development solutions can help you accelerate your timelines and get more products to market faster.
                  p 
                    span.watch-video OUR DEVELOPMENT SOLUTIONS & SERVICES
          .c-slice.third.l-grid
            .c-slice__left.l-grid__col.l-w--tabt-min-50p.h-160
              .kit-middle.no-padding
                .kit-middle-content
                  .l-grid
                    .l-grid__col.l-w--tabt-min-50p
                      .kit-content-custom
                        p.txt-align
                          a(href="http://www.catalent.com/index.php//content/download/12783/382375/version/1/file/development_brochure_010117.pdf").no-bg
                            span.img-container
                              img(src="../assets/img/development/BROCHURE.png")
                            span.name BROCHURE
                    .l-grid__col.l-w--tabt-min-50p
                      .kit-content-custom
                        p.txt-align
                          a(href="http://www.catalent.com/index.php//content/download/12783/382375/version/1/file/development_brochure_010117.pdf").no-bg
                            span.img-container
                              img(src="../assets/img/development/CASE-STUDIES.png")
                            span.name BROCHURE


                  
            .c-slice__right.l-grid__col.l-w--tabt-min-50p.no-bg
              .kit-middle
                .kit-middle-content
                  .l-grid
                    .l-grid__col.l-w--tabt-min-50p
                      .kit-content-custom
                        p.txt-align
                          a(href="http://www.catalent.com/index.php//content/download/12783/382375/version/1/file/development_brochure_010117.pdf")
                            span.img-container
                              img(src="../assets/img/development/OFFERING-INFO.png")
                            span.name BROCHURE
                    .l-grid__col.l-w--tabt-min-50p
                      .kit-content-custom
                        p.txt-align
                          a(href="http://www.catalent.com/index.php//content/download/12783/382375/version/1/file/development_brochure_010117.pdf")
                            span.img-container
                              img(src="../assets/img/development/ALL-RESOURCES.png")
                            span.name BROCHURE
          .c-slice.first.l-grid
            .c-slice__right.l-grid__col.l-w--tabt-min-50p
              .kit-middle
                .top-separator
                  img(src="../assets/img/development/top-separator.png")
                img(src="../assets/img/development/Overview.png")
            .c-slice__left.l-grid__col.l-w--tabt-min-50p
              .kit-middle
                .kit-middle-content
                  h1.upper
                    img(src="../assets/img/development/Overview-1.png")
                    | DEVELOPMENT

                  p Get more products to market faster with the world's #1 partner for drug development and formulation services.
                  p 
                    a(href="#", target="_self") OUR DEVELOPMENT SOLUTIONS & SERVICES
                  

              



      
                            



