extends base
block navbar-top-links
  +topLinksBuilder(0)

block sidebar-links
  +sidebarLinksBuilder(0)

block main-content
  .thinking
    .first-block(data-js-devcarousel)
      .top-shadow
      .nav-elems
        .nav-overview.nav-elem.active(index=0) Overview
          img(src="../assets/img/development/top-slide-button.png")
        .nav-overview.nav-elem(index=1) Video
          img(src="../assets/img/development/top-slide-button.png")
      .c-carousel
        .c-carousel__container
          .c-slice.first.l-grid
            .c-slice__right.l-grid__col.l-w--tabt-min-50p
              .kit-middle
                .top-separator
                  img(src="../assets/img/development/top-separator.png")
                img(src="../assets/img/development/Overview.png")
            .c-slice__left.l-grid__col.l-w--tabt-min-50p
              .kit-middle
                .kit-middle-content
                  h1.upper
                    img(src="../assets/img/development/Overview-1.png")
                    | DEVELOPMENT

                  p Get more products to market faster with the world's #1 partner for drug development and formulation services.
                  p 
                    a(href="#", target="_self") OUR DEVELOPMENT SOLUTIONS & SERVICES
          .c-slice.second.l-grid
            .c-slice__right.l-grid__col.l-w--tabt-min-50p.no-bluebg
              .kit-middle
                .top-separator
                  img(src="../assets/img/development/top-separator.png")
                .img-container
                  .play-video-icon
                  img(src="../assets/img/development/Video.png")
            .c-slice__left.l-grid__col.l-w--tabt-min-50p
              .kit-middle
                .kit-middle-content
                  h2 MORE PRODUCTS

                  p Our advanced development solutions can help you accelerate your timelines and get more products to market faster.
                  p 
                    span.watch-video OUR DEVELOPMENT SOLUTIONS & SERVICES
          .c-slice.first.l-grid
            .c-slice__right.l-grid__col.l-w--tabt-min-50p
              .kit-middle
                .top-separator
                  img(src="../assets/img/development/top-separator.png")
                img(src="../assets/img/development/Overview.png")
            .c-slice__left.l-grid__col.l-w--tabt-min-50p
              .kit-middle
                .kit-middle-content
                  h1.upper
                    img(src="../assets/img/development/Overview-1.png")
                    | DEVELOPMENT

                  p Get more products to market faster with the world's #1 partner for drug development and formulation services.
                  p 
                    a(href="#", target="_self") OUR DEVELOPMENT SOLUTIONS & SERVICES
    .menu_fliter_false-scroll
    .third-block(data-js-filterthinking)
      .c-browse
        h2 BROWSE OFFERINGS A TO Z
        p Not sure which are right for you? 
          a(href="") Try our Solutions Finder Tool

      .c-tag
        h2 BROWSE BY TAG
        .c-filter.l-grid
          .c-filter__left.l-grid__col.l-w--tabt-min-25p
            h3 TOPIC
            ul
              li
                .filter-link.all.selected(data-topic) VIEW ALL
              li
                .filter-link.filter(data-topic="Animal Health") Animal Health
              li
                .filter-link.filter(data-topic="Biologics") Biologics
              li
                .filter-link.filter(data-topic="Clinical Supply Services") Clinical Supply Services
              li
                .filter-link.filter(data-topic="Consumer") Consumer
              li
                .filter-link.filter(data-topic="Delivery") Delivery
              li
                .filter-link.filter(data-topic="Development Solutions") Development Solutions
              li
                .filter-link.filter(data-topic="Inhalation") Inhalation
              li
                .filter-link.filter(data-topic="Oral Technologies") Oral Technologies
              li
                .filter-link.filter(data-topic="Sterile Technologies") Sterile Technologies
              li
                .filter-link.filter(data-topic="Supply") Supply

            h3 TYPE
            ul
              li
                .filter-link.all.selected(data-type) VIEW ALL
              li
                .filter-link.filter(data-type="Article/Whitepaper") Article/Whitepaper
              li
                .filter-link.filter(data-type="Brochure") Brochure
              li
                .filter-link.filter(data-type="Case Study") Case Study
              li
                .filter-link.filter(data-type="eBook") eBook
              li
                .filter-link.filter(data-type="Offering Info") Offering Info
              li
                .filter-link.filter(data-type="Poster") Poster
              li
                .filter-link.filter(data-type="Presentation") Presentation
              li
                .filter-link.filter(data-type="Webinars") Webinars

            .c-filter__text
              p Looking for case studies, Downloadable brochures, and other resources?
              p.c-visit
                a(href="", target="") Visit our Resource Center
          .c-filter__right.l-grid__col.l-w--tabt-min-75p
            .js-elems

              



      
                            



