<!--[if (gt IE 8)]><!-->
script(src='assets/js/vendor/jquery.js')
<!--<![endif]-->

<!--[if (lte IE 8)]>
script(src='./../public/javascripts/vendor/old-ie/jquery-1.9.0.js')
script(src='./../public/javascripts/vendor/old-ie/html5shiv.js')
script(src='./../public/javascripts/vendor/old-ie/selectivizr-min.js')
<![endif]-->
script(src='assets/js/vendor.min.js')
script(src='assets/js/app.min.js')