mobile()
  @media(max-width:$mobile-max)
    {block}

tablet()
  @media(max-width:$tablet-max)
    {block}
    
desktop()
  @media(min-width:$desktop-min)
    {block}

retina()
  @media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    {block}
    
bp(mod, size)
 @media({mod}-width:size)
  {block}